# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456789
DB_NAME=picstory

# API Keys
GEMINI_API_KEY=''
FREESOUND_API_KEY='A37SnZI2Atk2ckGoiBYnvqfdd1jrf1retPjYAHyP'

# App Settings
UPLOAD_DIR=uploads
OUTPUT_DIR=outputs
MAX_IMAGES_PER_ZIP=20
